form {
    legend {
        padding: 1.7em 0;
        font-size: 0.9em;
        font-weight: 600;
        text-transform: CAPITALIZE;
        user-select: none;
        width: calc(100% - 2.3em);
    }
}
