<div class="main">

  <nav class="navbar" *ngIf="service.loggedIn">
    <div class="container-fluid">
      <span class="navbar-brand" [routerLink]="['start']">
        <img class="logo" src="/assets/for.jpg" alt="">
      </span>
      <form class=" user" (click)="service.userMenu = true">
        <img src="/assets/{{service.user.img}}" class="img-user-2 img-fluid">
        <span class="name">{{service.user.name}}</span>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<p-toast></p-toast>

<p-sidebar position="right" [(visible)]="service.userMenu">
  <span class="d-flex">
    <img src="/assets/{{service.user.img}}" class="img-user-8 img-fluid">
    <span class="user-name">{{service.user.name}}</span>
  </span>

  <hr>

  <div class="list-group">
    <span (click)="menuClick('user/'+service.user.id)" class="list-group-item list-group-item-action">Perfil</span>
    <span class="list-group-item list-group-item-action">Dependentes</span>
    <span class="list-group-item list-group-item-action">Documentos pendentes</span>
    <span (click)="menuClick('/login')" class="list-group-item list-group-item-action">Sair</span>
  </div>

</p-sidebar>