<div class="main">

  <nav class="navbar" *ngIf="service.loggedIn">
    <div class="container-fluid">
      <span class="navbar-brand" [routerLink]="['start']">SEDUC</span>
      <form class=" user" (click)="service.userMenu = true">
        <img src="/assets/{{service.user.img}}" class="img-user-2 img-fluid">
        <span class="name">{{service.user.name}}</span>
      </form>
    </div>
  </nav>

    <router-outlet></router-outlet>
</div>


<p-sidebar position="right" [(visible)]="service.userMenu">
  <img src="/assets/{{service.user.img}}" class="img-user-8 img-fluid">
  {{service.user.name}}
</p-sidebar>