<div class="card card-inputs">
    <div class="card-header">
        <i class="fas {{iconClass}}"></i>
        {{title}}
    </div>
    <div class="card-body">

        <div class="input-group input-group-sm">
            <span class="input-group-text"><i class="fas fa-users"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-text"><i class="fas fa-chevron-circle-right"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-text"><i class="fas fa-chevron-circle-right"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>

    </div>
</div>