<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                Calendário
            </div>
            <div class="card-body">
                xxx
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                Notas
            </div>
            <div class="card-body">
                xxx
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                Mensagens
            </div>
            <div class="card-body">
                xxx
            </div>
        </div>
    </div>
</div>