<div class="matricula" *ngIf="this.service.student.status == 'not-enrolled'">
    <div class="alert alert-danger" role="alert">
        O Prazo de matricula esta acabando!
    </div>

    <div class="d-grid ">
        <button (click)="matricular()" class="btn btn-primary" type="button">Matricular Agora</button>
    </div>
</div>


<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                Calendário
            </div>
            <div class="card-body">
                xxx
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                Notas
            </div>
            <div class="card-body">
                xxx
            </div>
        </div>
    </div>
  
</div>