<div class="container-fluid">
    <p-menubar [model]="items"></p-menubar>
    <hr>
    <div class="account">

        <p class="h6">Estudante:</p>
        <span class="d-flex">
            <img src="/assets/{{service.user.img}}" class="img-user-8 img-fluid">
            <div class="data">
                <span class="user-name">{{service.user.name}}</span>
                <span class="text">{{service.user.email}}</span>
                <span class="text">{{service.user.phone}}</span>
                <button type="button" class="btn btn-secondary btn-sm">editar</button>
    
            </div>
        </span>
    </div>
    <router-outlet></router-outlet>
    
</div>