:root {
    --background: #f8fafc;
    --primary: #00345c;
    --text-title: #898f99;
    --colorText: #bcbfc7;
    --navbar-bg: #ffffff;

    --primary-color: #768ea0;

    --bg-secondary:#ffcc00;
}

$color-bg-end: #fff;
$color-bg-start: #fff;

//
