
.cards {
    margin: 2em 0;
    .card {
        border: none;

        .card-header {
            border-bottom: 4px solid #69d0ff;
            color: #2170d5;
            font-weight: 700;
            font-size: 1.2em;
        }

       
    }
}
