<div class="container-fluid jumbotron">
    <div class="jumbotron text-center">
        <h4 class="title1">Portal da Educação</h4>
        <p class="fs-4 fw-light mt-0">Bem vinda Alice Machado</p>

        <div class="input-group search">
            <input type="text" class="form-control" placeholder="Pesquise artigos e discussões">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>

    </div>
</div>

<div class="container cards">
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="card">
                <div class="card-header">
                    Documentos Pendentes
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of service.getPendingDocuments()">
                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                                <span class="title">
                                    {{item.name}} [{{item.user.name}}]
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-0 col-lg-3">

        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    Dependentes
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of service.user.dependents" [routerLink]="['/student',item.id]">
                            <img src="assets/{{item.img}}" class="img-user-4 img-fluid">
                            <span class="title">{{item.name}}</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="flex-container">
    <app-vcard *ngFor="let item of service.startMenu" [title]="item.title" [routerLink]="item.routerLink"
        [bgColor]="item.bgColor" [icon]="item.icon" [iconColor]="item.iconColor" [textColor]="item.textColor"
        [description]="item.description">
    </app-vcard>



</div>